<div class="container">
  <div>
    <h1 *ngIf="!dataServace.searchResults.value.length && dataServace.isEmpty">All Movies</h1>
    <h1 *ngIf="dataServace.searchResults.value.length && !dataServace.isEmpty">Search Results</h1>
    <h1 *ngIf="!dataServace.searchResults.value.length && !dataServace.isEmpty">No Results Found</h1>
  </div>

  <div class="movies-wraper">
    <div class="movie"
      *ngFor="let movie of ((dataServace.searchResults.value.length || !dataServace.isEmpty) ? dataServace.searchResults.value : dataServace.moviesDataResults.value);"
      (click)="movieDetails(movie.id)">
      <h3 class="movies-text">{{ movie.title }}</h3>
      <img [src]="imgPrefex + movie.backdrop_path" alt="img">
      <p class="movies-text">Rating: {{ movie.vote_average }}</p>
      <p class="release-text">Release Date: {{ movie.release_date }}</p>
    </div>
  </div>

  <div class="footer"
    *ngIf="(!dataServace.searchResults.value.length && dataServace.isEmpty) || (dataServace.searchResults.value.length && dataServace.isEmpty)">
    <div class="prev">
      <button (click)="changePage(page - 1)">Prevouse</button>
    </div>

    <div class="page-numbers">
      <button class="number" *ngFor="let x of paginationArray; let pageNum = index;"
        (click)="changePage(pageNum + 1)">{{ pageNum + 1 }}
      </button>
    </div>

    <div class="next">
      <button (click)="changePage(page + 1)">Next</button>
    </div>
  </div>
</div>
